<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="services.utils.PatternMaskingLayout">
                <maskPattern>\b\d{6}(\d{2,9})\d{4}\b</maskPattern>
                <maskPattern>(\b\d{3}\b)</maskPattern>
                <pattern>%-5p [%d{ISO8601,UTC}] [%thread] %c: %m%n%rootException</pattern>
            </layout>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>

